:root {
<<<<<<< HEAD
        --first: #73ae6a;
        --stripone: #d6a1b5;
        --striptwo: #6d3f97;
        --stripthree: #5ca4bc;
    }
    /* 1729830215.160384 */
=======
        --first: #f6d3d8;
        --stripone: #729cac;
        --striptwo: #a6ad67;
        --stripthree: #ff9d82;
    }
    /* 1729752465.3238914 */
>>>>>>> 6b5f7e4456fb3ec88e5b30571a5fd2f986ee04cf
    